*{
    margin:0;
    padding:0;
}

body {
    background-color: #2e3440;
	color: #a5abb6;
    font-family: 'Neep', Helvetica, sans-serif;
}

#box {
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    background-color: #4c566a;
    padding: 3em;
    margin: 3em;
    height: 6.3em;
    width: 5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a, a:visited {
    color: #a5abb6;
    text-decoration: none;
}

header {    
    padding-bottom: 8px;
    font-weight:bold;
}

.social a:hover, .social header {
    color: #b48ead;
}

.study a:hover, .study header {
    color: #bf616a;
}

.other a:hover, .other header {
        color: #81a1c1;
}
